.backcolor{
  background: rgba(0,0,0,1);
}
.nav-collapse ul {
  margin: 0;
  padding: 0;
  width: 100%;
  display: block;
  list-style: none;
}
.nav-collapse li {
  width: 100%;
  display: block;
}
.js .nav-collapse {
  clip: rect(0 0 0 0);
  max-height: 0;
  position: absolute;
  display: block;
  overflow: hidden;
  zoom: 1;
}
.nav-collapse.opened {
  max-height: 9999px;
}
.disable-pointer-events {
  pointer-events: none !important;
}
.nav-toggle {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
@media screen and (max-width: 319px) {
  .js .nav-collapse {
    position: relative;
  }
  .js .nav-collapse.closed {
    max-height: none;
  }
  .nav-toggle {
    display: none;
  }
}
.logo {   
  float: left;   
}

/* ------------------------------------------
  MASK
  --------------------------------------------- */

  .mask {
    -webkit-transition: opacity 300ms;
    -moz-transition: opacity 300ms;
    transition: opacity 300ms;
    background: rgba(0,0,0, .5);
    visibility: hidden;
    position: fixed;
    opacity: 0;
    z-index: 2;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
  }

  .android .mask {
    -webkit-transition: none;
    transition: none;
  }

  .js-nav-active .mask {
    visibility: visible;
    opacity: 1;
  }

  @media screen and (max-width: 319px) {
    .mask {
      display: none !important;
      opacity: 0 !important;
    }
  }

  .nav-collapse,
  .nav-collapse * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  .nav-collapse,
  .nav-collapse ul {
    list-style: none;
    width: 100%;
    float: left;
  }
  .nav-collapse ul{
    padding-top: 40px;   
  }
  header.sticky .nav-collapse ul{
    padding-bottom: 40px;
  }

  @media screen and (max-width: 319px) {
    .nav-collapse {
      float: right;
      width: auto;        
    }
  }

  .nav-collapse li {
    float: left;
    width: 100%;
  }
  .nav-collapse li {
    float: none;
    width: 100%;
    display: block;
    padding-bottom: 5px;
  }

  @media screen and (max-width: 319px) {
    .nav-collapse li {
      width: auto;
      margin: 0 2px;
    }
  }
  .backcolor .logo{
    /*display: none;*/
  }
  .nav-collapse a { 
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 55px;
    letter-spacing: 2px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    text-decoration: none; 
    padding: 5px 0 0 0;
    color: #5c5c5d;
    border-bottom: 2px solid rgba(0,0,0,0);
    /*width: 100%;*/
    /*float: left;*/
    text-align: left;    
  }

  .nav-collapse a:active,
  .nav-collapse .active a{  
    color: #fff; 
    transition:all 0.5s; 
    border-bottom: 2px solid #9e9d9e;
  }

  .nav-collapse a:hover{
   color: #fff; 
   transition:all 0.5s; 
   border-bottom: 2px solid #9e9d9e;
 }

 @font-face {
  font-family: "responsivenav";
  src:url("../icons/responsivenav.eot");
  src:url("../icons/responsivenav.eot?#iefix") format("embedded-opentype"),
  url("../icons/responsivenav.ttf") format("truetype"),
  url("../icons/responsivenav.woff") format("woff"),
  url("../icons/responsivenav.svg#responsivenav") format("svg");
  font-weight: normal;
  font-style: normal;
}
.nav-toggle {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-decoration: none;
  text-indent: -300px;
  position: relative;
  overflow: hidden;
  width: 60px;
  height: 55px;
  float: right;
  background:url(../img/menu.png) no-repeat right center;
}

.nav-toggle.active{  
  background:url(../img/close.png) no-repeat right center;
  width: 60px;
  height: 55px;
}